<div class="container-fluid ps-3 homeContainer pt-3">
    <div class="row text-center mt-2">
        <p class="welcomeMessage"> + Hi There</p>
    </div>
    <div class="row ps-4">
        <div class="col-12 col-md-8">
            <h1 class="display-3 pt-5">{{homeTagLine1}}</h1>
            <h1 class="display-3">{{homeTagLine2}}</h1>
            <button type="button" class="mt-4 btn_explr px-3 py-1">Explore Courses</button>
        </div>
        <div class="col-12 col-md-4 ps-0 d-flex justify-content-center align-items-center">
            @if(this.isLightTheme){
                <img [src]="lightLogoUrl" alt="logo" class="img-fluid">
            }@else{
                <img [src]="darkLogoUrl" alt="logo" class="img-fluid">
            }
        </div>
    </div>
    <div class="row ps-2">
        <app-latest-course></app-latest-course>
    </div>
    <div class="row ps-2 mt-5 mb-5">
        <app-courses></app-courses>
    </div>
</div>
